:root {
    --hue: 340;
    --sat: 60%;
    --light: 40%;
    --main-colour: hsl(var(--hue),var(--sat),var(--light));
    --dark-colour: hsl(var(--hue), calc(var(--sat) * 0.2) , calc(var(--light) * 0.4));
    --highlight-colour: hsl(var(--hue), calc(var(--sat) * 1.5), calc(var(--light) * 0.8));
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
/*
  End Josh's Custom CSS Reset
*/
body {
    background-color: hsl(90, 17%, 98%);
}
#header-container,
#main {
    margin-left: auto;
    margin-right: auto;
}
#header-container,
#quote,
#footer,
.cta-box {
    background-image: url(./img/bg.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
#header-container {
    padding-bottom: 120px;
}
#hero {
    margin-left: auto;
    margin-right: auto;
    width: 72vw;
}
#header {
    width: 100%;
}
#header ul {
    display: flex;
    list-style-type: none;
    gap: 36px;
    align-items: baseline;
    justify-content: space-between;
}
li.logo {
    margin-right: auto;
}
.logo img {
    height: 50px;
    display: inline;
    margin-right: 10px;
    object-fit: cover;
    transform: translateY(15px);
}
.header-link a {
    text-decoration: none;
    color: hsl(220, 19%, 91%);
    font-size: 18px;
}
.logo a,
.cta-box h2 {
    color: hsl(90, 17%, 98%);
    font-size: 24px;
    text-decoration: none;
    font-weight: 900;
}
#hero-container {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.hero-text {
    flex: 6;
}
.hero-img {
    flex: 7;
    display: flex;
    justify-content: center;
}
.hero-img img:hover {
    animation: gelatine .5s infinite;
}
@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}
.hero-img img{
    object-fit: contain;
    min-width: 300px;
    height: 240px;
}
.hero-img p {
    flex: 1;
    text-align: center;
    color: hsl(220, 19%, 91%);
}
.hero-text h1 {
    font-size: 48px;
    color: hsl(90, 17%, 98%);
    line-height: 1;
    padding-bottom: 10px;
}
.hero-text p,
.cta-box p,
#footer p {
    font-size: 18px;
    color: hsl(220, 19%, 91%);
}
button {
    margin-top: 10px;
    background-color: var(--main-colour);
    font-weight: 700;
    font-size: 18px;
    color: hsl(90, 17%, 98%);
    padding: 6px 35px;
    border-radius: 8px;
    border: none;
    transition: .5s ease;
}
button:hover {
    background-color: var(--highlight-colour);
    cursor: pointer;
    transition: .2s ease;
    color: hsl(90, 17%, 98%);
}
#main {
    margin-left: auto;
    margin-right: auto;
    width: 58vw;
    padding-bottom: 100px;
}
#main h2 {
    padding: 45px 0;
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: var(--dark-colour);
    line-height: 1;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#gallery img {
    object-fit: cover;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 180px;
    border: 4px solid var(--main-colour);
    border-radius: 10px;
}
#gallery p {
    text-align: center;
    font-size: 18px;
    color: var(--dark-colour);
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.quote-main {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 55vw;
}
.quote-text {
    font-size: 36px;
    color:hsl(220, 19%, 91%);
    font-weight: 300;
    font-style: italic;
}
.quote-origin {
    font-size: 24px;
    font-weight: 900;
    color: hsl(90, 17%, 98%);
    align-self: flex-end;
    transform: translateY(-10px);
}
#cta {
    margin-top: 100px;
    margin-bottom: 100px;
}
.cta-box {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 72vw;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
}
#footer
{
    padding-top: 30px;
    padding-bottom: 30px;
}
#footer p {
    text-align: center;
}